* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
  text-align: center;
}

.header {
  background-color: rgb(195, 244, 249);
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 200px;
  align-items: center;
  /* padding: 40px; */
  z-index: 1;
}
.header img {
  height: 150px;
  margin-left: 100px;
}
.nav_socials {
  display: flex;
  align-items: center;
  margin-right: 80px;
}
.nav_socials img {
  height: 35px;
}
.nav_links a {
  color: rgb(55, 64, 66);
  text-decoration: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.nav_links > :nth-child(1) {
  margin-right: 30px;
}
.GoFundMe {
  background-color: black;
  color: rgb(195, 244, 249);
  text-decoration: none;
  padding: 18px 35px 17px 34px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
}
.social_links img {
  margin-left: 25px;
}
.social_links {
  margin: 0 40px 0 15px;
}

.container1 {
  background-color: rgb(195, 244, 249);
}
#intro {
  display: inline-block;
  justify-content: center;
  text-align: left;
  margin: 400px 0 200px 0;
}
.signup_chrome_extension > :nth-child(1) {
  color: black;
  font-size: 70px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 800;
  text-decoration: none;
  border-bottom: 1px solid;
}
.signup_chrome_extension p {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 70px;
  margin-top: 50px;
}
.signup_chrome_extension > :nth-child(3) {
  background-color: black;
  color: rgb(195, 244, 249);
  text-decoration: none;
  font-size: 22px;
  font-family: sans-serif;
  font-weight: bold;
  padding: 15px 30px 20px 30px;
}
.description {
  margin-top: 200px;
}
.description h3 {
  font-size: 50px;
  font-family: sans-serif;
  /* font-weight: bolder; */
  text-align: center;
}
.descriptory_container {
  display: flex;
  margin-top: 30px;
}
.descriptory_video iframe {
  width: 800px;
  height: 400px;
  border: none;
}
.descriptory_essay {
  font-family: sans-serif;
  font-size: 23px;
  line-height: 38px;
  margin-left: 30px;
}
.video_caption {
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 20px;
}
.video_description {
  margin-top: 60px;
  font-family: sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 30px;
}

.sign-up_wnp {
  background-color: white;
  text-align: center;
  margin-top: 75px;
  padding-top: 50px;
}
.sign-up_wnp h3 {
  font-family: sans-serif;
  font-size: 25px;
}
.sign-up_wnp p {
  font-family: sans-serif;
  font-size: 15px;
  line-height: 30px;
  margin-top: 40px;
}

.email_box {
  width: 660px;
  height: 37px;
  border: 1px solid rgb(209, 205, 205);
  margin-top: 15px;
}
.email_form {
  font-family: sans-serif;
  margin-top: 50px;
  text-align: center;
  /* margin-left: 685px; */
  padding-bottom: 150px;
}
.email {
  position: relative;
  left: -307px;
}
.button_send {
  background-color: black;
  color: white;
  border: none;
  padding: 15px 35px;
  font-size: 20px;
  font-weight: bolder;
  margin-top: 30px;
}

.application {
  text-align: center;
  background-color: rgb(195, 244, 249);
  padding-bottom: 170px;
  padding-top: 170px;
}
.application h3 {
  font-size: 65px;
  font-family: sans-serif;
  font-weight: 800;
  margin-bottom: 35px;
}
.application p {
  font-family: sans-serif;
  font-size: 18px;
  margin-bottom: 45px;
}
.application p > a {
  color: black;
}
.apply_now {
  background-color: black;
  color: rgb(195, 244, 249);
  font-family: sans-serif;
  font-weight: 700;
  font-size: 25px;
  padding: 10px 30px 20px 30px;
  text-decoration: none;
  /* margin-top: 20px; */
}

.asl_videos {
  background-color: white;
  text-align: left;
  display: inline-block;
  margin-left: 100px;
  padding-bottom: 200px;
}
.asl_videos h2 {
  font-family: sans-serif;
  font-size: 70px;
  font-weight: 800;
  margin-top: 200px;
  margin-bottom: 80px;
}
.images {
  margin-bottom: 50px;
}
.images img {
  height: 580px;
  margin-right: 90px;
  margin-bottom: 100px;
}
.download_button {
  background-color: black;
  color: white;
  position: relative;
  left: 350px;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 23px;
  padding: 15px 30px;
}

#more_asl {
  background-color: rgb(195, 244, 249);
  padding: 200px 0 200px 0;

}
.request_interp {
  display: flex;
  justify-content: center;
  text-align: left;
}
.request_interp h3 {
  font-family: sans-serif;
  font-size: 50px;
  font-weight: 700;
}
.request_interp p {
  margin-top: 40px;
  font-family: sans-serif;
  font-size: 18px;
}
.F-L_name {
  display: flex;
  margin-bottom: 35px;
}
.request_interp form {
  margin-left: 200px;
  font-family: sans-serif;
  font-size: 16px;
}
.name_box {
  width: 320px;
  height: 37px;
  border: 1px solid rgb(209, 205, 205);
  margin-top: 15px;
  margin-bottom: 10px;
}
#firstname {
  margin-right: 20px;
}
#email {
  margin-bottom: 35px;
}

.send_button {
  background-color: black;
  color: rgb(195, 244, 249);
  border: none;
  padding: 8px 35px 20px 35px;
  font-size: 20px;
  font-weight: bolder;
  margin-top: 35px;
}

.feedback {
  display: flex;
  justify-content: center;
  text-align: left;
  margin-top: 400px;
}
.feedback h3 {
  font-family: sans-serif;
  font-size: 50px;
  font-weight: 700;
}
.feedback form {
    margin-left: 200px;
    font-family: sans-serif;
    font-size: 16px;
}
.what_you_like {
  color: rgb(122, 116, 116);
  font-size: 13px;
  font-family: sans-serif;
  margin-top: 15px;
  margin-bottom: 20px;
}
#feedback {
  width: 660px;
  height: 100px;
  border: 1px solid rgb(209, 205, 205);
}

.FAQs {
  margin-top: 100px;
  font-family: sans-serif;
  display: inline-block;
  justify-content: center;
  text-align: left;
  font-size: 18px;
}
.FAQs h2 {
  font-size: 70px;
  margin-bottom: 40px;
}
.FAQs h3 {
  font-size: 30px;
  margin-bottom: 40px;
}
.FAQs a {
  color: black;
}
.FAQs p {
  margin: 25px 0 30px 0;
  line-height: 30px;
}
.FAQs ol {
  line-height: 45px;
}
.FAQs ol > li {
  margin-left: 40px;
}

.donation {
  background-color: white;
  display: flex;
  justify-content: center;
  text-align: left;
  padding: 100px 0 100px 0;
  font-family: sans-serif;
  font-size: 18px;
}
.donation h2 {
  font-size: 70px;
  margin-right: 450px;
}
.donation a {
  background-color: black;
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 23px;
  padding: 10px 35px 20px 35px;
}
.donation p {
  margin-bottom: 50px;
}

.footer {
  background-color:  rgb(195, 244, 249);
  display: flex;
  justify-content: center;
  padding: 200px 0 150px 0;
}
.footer img {
  width: 50px;
  margin: 8px;
  border: 0.5px solid black;
  border-radius: 50%;
  padding: 10px;
}

.hover_effect:hover {
  background-color: rgb(56, 55, 55);
  transition: 0.1s;
}